body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#timer {
    font-size: 16px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

#introduction {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

/* Styles pour le bouton "Vrai" en cas de réponse correcte */
#trueButton.correct {
    background-color: #4CAF50; /* Vert */
    color: #fff; /* Texte blanc */
}

/* Styles pour le bouton "Faux" en cas de réponse correcte */
#falseButton.correct {
    background-color: #4CAF50; /* Vert */
    color: #fff; /* Texte blanc */
}

/* Styles pour le bouton "Vrai" en cas de réponse incorrecte */
#trueButton.incorrect {
    background-color: #FF5733; /* Rouge */
    color: #fff; /* Texte blanc */
}

/* Styles pour le bouton "Faux" en cas de réponse incorrecte */
#falseButton.incorrect {
    background-color: #FF5733; /* Rouge */
    color: #fff; /* Texte blanc */
}
