body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#timer {
    font-size: 16px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

#trueButton.correct {
    background-color: #00ff00; /* Vert */
    color: #fff; /* Texte blanc */
}

#falseButton.correct {
    background-color: #00ff00; /* Vert */
    color: #fff; /* Texte blanc */
}

#trueButton.incorrect {
    background-color: #ff0000; /* Rouge */
    color: #fff; /* Texte blanc */
}

#trueButton.selected {
    background-color: rgb(54, 54, 255);
    color: #fff; /* Texte blanc */
}

#falseButton.incorrect {
    background-color: #ff0000; /* Rouge */
    color: #fff; /* Texte blanc */
}

#falseButton.selected {
    background-color: rgb(54, 54, 255);
    color: #fff;
}